.addjob-container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.addjob-form-wrapper {
  background-color: #ffffff;
  padding: 2rem 1.5rem;
  margin: 1rem 0;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #f7ebdd; */
}

.addjob-form h2 {
  font-size: 1.875rem;
  text-align: center;
  /* font-weight: 600; */
  margin-bottom: 1.5rem;
}

.addjob-form h3 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  color: black;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  outline: none;
  background-color: #e9dbc1;
  border-color: #e9dbc1;
}

.form-input::placeholder{
    color: #a0947f;
}

textarea::placeholder{
    color: #a0947f;
}

.submit-btn {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #3a3838;
}