.hero-section {
    position: relative;
    height: 65vh;
    color: #eeeeee;
    text-shadow: #06023b6b 0px 0px 5px;
    overflow: hidden;

    /* Center content */
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/hero-test1.jpg');
    background-size: cover;
    background-position: right;
    filter: blur(8px);
    transform: scale(1.05);
    z-index: 0;
}

.hero-container {
    position: relative;
    z-index: 1;
    text-align: center; /* center text horizontally */
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.hero-title{
    font-size: 4rem;
    /* font-weight: 800; */
    text-transform: uppercase;
}

.hero-subtitle{
    font-size: 1.4rem;
}

/* @media (min-width: 640px){
    .hero-title{
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    .hero-title{
        font-size: 3rem;
    }
} */