body{
    background-color: #d9ccb4;
    background-color: white;
}
.job-listing {
    background-color: #f7ebdd;
    background-color: rgb(247, 244, 244);
    box-shadow: 0 8px 8px rgba(148, 146, 146, 0.322);
    position: relative;
    /* border-radius: 20px; */
  }
  
  .job-listing-content {
    padding: 1rem;
  }
  
  .job-type {
    color: #1b1b1b;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .job-title {
    color: #0c0c0c;
    font-size: 1.1rem;
    /* font-weight: bold; */
    margin-bottom: 1rem;
    /* letter-spacing: .8px; */
    /* text-transform: uppercase; */
  }
  
  .job-description {
    margin-bottom: 1.25rem;
    font-size: .9rem;
    color: #333131;
  }
  
  .toggle-description {
    color: #572a0a;
    margin-bottom: 1.25rem;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .toggle-description:hover {
    /* color: #a16118; */
  }
  
  .job-pay {
    color: #572a0a;
    font-size: 1rem;
    /* margin-bottom: 1rem; */
  }
  
  .divider {
    border-top: 1px solid #e5e7eb;
    margin-bottom: 1.25rem;
  }
  
  .job-location {
    color: #72360b;
    margin-bottom: 1.25rem;
  }
  
  .location-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: rgb(95, 55, 18);
  }
  
  .job-poster{
    margin-bottom: 1.25rem;
  }

  .read-more-btn {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.8rem;
    text-decoration: none;
    /* border-radius: 18px; */
  }
  
  .read-more-btn:hover {
    background-color: #3a3838;
  }
  