.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #010813;
  padding: 9px 0;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.navbar.show {
  transform: translateY(0%);
}

.navbar.hide {
  transform: translateY(-100%);
}

.navbar-center {
  display: flex;
  justify-content: center;
}

.navbar-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
