@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss" */

@font-face {
    font-family: 'Domine';
    src: url('./assets/fonts/apercu_regular_pro.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Domine', 'sans-serif';
    /* letter-spacing: 1px; */
}